.spacer {
    flex: 1 1 auto;
}

.toolbar {
    border-bottom: 1px solid var(--primary);
    position: fixed;
    z-index: 1000;
}

.item {
    transition: ease-in-out 0.3s;
    border-radius: 5px;
    padding: 8px;
    border: 0px solid var(--primary);
}

.item:hover {
    cursor: pointer;
    scale: 1.1;
    color: var(--primary);    
}

.center {
    display: flex;
    flex-direction: row;
    gap: 33px;
}

.active {
    border-radius: 24px;
    border: 1px solid var(--primary);
}

@media (max-width: 768px) {
    .toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .center {
        position: fixed;
        bottom: 10px;
        left: 20px;
        right: 20px;
        background-color: var(--background);
        border-radius: 24px;
        border: 1px solid var(--primary);
        display: flex;
        justify-content: space-around; 
        padding: 10px 0; 
        z-index: 1000; 
    }

    .item {
        flex: 1;
        text-align: center;
        padding: 8px 0;
        font-size: 14px; 
        border-radius: 5px;
    }

    .item:hover {
        scale: 1.1; 
        color: var(--primary);
    }

    .active {
        border: none; 
        color: var(--primary); 
    }

}