<div class="container">
    <div class="title">
        <div class="text">
            BearlyBlogging
        </div>
        <app-back></app-back>
    </div>
    <div class="image-login">
        <img class="img" src="assets/icons/bearly.png" alt="blog">
    </div>

    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login-title">
            Login:
        </div>
        <mat-form-field class="form-full" appearance="outline">
            <input type="text" matInput formControlName='username' placeholder="Pleas enter username">
            <mat-label>Username</mat-label>
            @if (loginForm.get('username')?.hasError('required')) {
            <mat-error>Username is mandatory</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="form-full" appearance="outline">
            <input type="text" matInput formControlName='password' placeholder='Please enter password'>
            <mat-label>Password</mat-label>
            @if (loginForm.get('password')?.hasError('required')) {
            <mat-error>Password is mandatory</mat-error>
            }
        </mat-form-field>

        <button matButton="filled" type="submit" [disabled]="!loginForm.valid">Login</button>
        <div class="register-link" (click)="onRegister()">
            Already have an account? register
        </div>
    </form>
</div>