<div class="container">
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="title" style="margin-bottom: 2rem;">
            <div class="text">
                Register:
            </div>
            <app-back></app-back>
        </div>
        <mat-form-field class="form-full" appearance="outline">
            <input type="text" matInput formControlName="username" placeholder="Enter desired username">
            <mat-label>Username</mat-label>
            @if (registerForm.get('username')?.hasError('required')) {
            <mat-error>Username is mandatory</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="form-full" appearance="outline">
            <input type="text" matInput formControlName="password" placeholder="Enter password">
            <mat-label>Password</mat-label>
            @if (registerForm.get('password')?.hasError('required')) {
            <mat-error>Password is mandatory</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="form-full" appearance="outline">
            <input type="text" matInput formControlName="name" placeholder="Enter your name">
            <mat-label>Name</mat-label>
            @if (registerForm.get('name')?.hasError('required')) {
            <mat-error>Name is mandatory</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="form-full" appearance="outline">
            <input type="text" matInput formControlName="surname" placeholder="Enter yout surname">
            <mat-label>Surname</mat-label>
            @if (registerForm.get('surname')?.hasError('required')) {
            <mat-error>Surname is mandatory</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="form-full" appearance="outline">
            <input type="text" matInput formControlName="email" placeholder="Enter your email">
            <mat-label>Email</mat-label>
            @if (registerForm.get('surname')?.hasError('required')) {
            <mat-error>Enter valid email</mat-error>
            }
        </mat-form-field>

        <button matButton="filled" type="submit" [disabled]="!registerForm.valid">Register</button>
        <div class="register-link" (click)="onLoginRoute()">
            Already have an Account?Login
        </div>
    </form>
</div>